/*-----------------------------------*/
/*--- IMPORT STYLES FOR FASTPAGES ---*/
@import "minima/fastpages-styles";   

/*-----------------------------------*/
/*----- ADD YOUR STYLES BELOW -------*/

// If you want to turn off dark background for syntax highlighting, comment or delete the below line.
@import "minima/fastpages-dracula-highlight"; 

// more consistent font-size on the homepage
.home > p {
    font-size: 18px; 
}

// consistent border-radius with .Box
.Box .image-preview {
    border-radius:4px;
}

// more consistent font-size
.post-content h4 {
    font-size: 1.4rem;
}

.Box .post-link {
    font-size:22px;
}

.flash {
    font-size:16px;
}

.flash code {
    background-color:transparent;
    font-size: 16px !important;
}

// better code & output formatting
pre, code {
    background-color:#efefef;
    border:none;
}

.output pre {
    background-color:transparent;
}

.input_area pre {
    padding-top: 8px !important;
    padding-bottom: 8px !important;
    border-left: none;
}

.output_area pre {
    border-radius:0px;
    border-left: 1px solid lighten($dt-gray, 50%);
    margin-left:0rem !important;
    color: #515151;
}

.output_area pre:before {
    content:"OUTPUT";
    display:block;
    margin-bottom:4px;
    font-size: 10px;
    color:lighten($dt-gray, 50%);
}

tt, code {
    font-size:18px !important;
    font-weight: 500;
}

// fix bug that shows doctype of svg from graphviz
.output_svg.output_subarea.output_execute_result {
    color:transparent;
}
